@media ( max-width:1200px )
  .container
    padding: 0 20px
  .header__container
    padding-bottom: 70px
  .albums__container,
  .fonograms__container
    padding-left: 0
    padding-right: 0
    & .accordeon__title
      padding-right: 20px
  .albums__heading.accordeon__head,
  .fonograms__heading.accordeon__head
    padding-left: 20px
  .albums__show,
  .fonograms__show
    padding-left: 20px
  .recomend__container
    padding: 100px 40px

  .album__container-get
    padding-bottom: 100px

  .contacts__container .accordeon__head,
  .contacts__head
    padding-left: 0

@media ( max-width:1150px )
  .header__link
    font-size: 60px
  .header__slide-album
    left: 30px

@media ( max-width:1100px )
  .header__link
    font-size: 50px
  .header__since
    margin-bottom: 3px
  .header__slide-album
    left: 20px
    width: 250px
    height: 250px
    font-size: 28px
    bottom: -135px
  .header__slide-year
    font-size: 50px
  .player__sound
    width: 190px
  .recomend__album
    padding: 0 40px

@media ( max-width:1000px )
  .header__slide-album
    left: 10px

