@media ( max-width:1300px )
  .container
    padding: 0 40px
  .header__container
    padding-bottom: 70px
  .albums__container,
  .fonograms__container
    padding-left: 0
  .albums__heading.accordeon__head,
  .fonograms__heading.accordeon__head
    padding-left: 40px
  .albums__show,
  .fonograms__show
    padding-left: 40px
  .albums__img,
  .albums__name
    margin-left: 0
  a.donate__see::before
    left: 66.5%
