@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Inter:400&subset=cyrillic-ext&display=swap);
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
  outline: none;
}

@font-face {
  font-family: "Micra";
  src: url("../fonts/Micra.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Micra";
  src: url("../fonts/Micra-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.heading {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 70px;
  line-height: 1.2142857143;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F6F5F0;
  color: #4E5871;
}
body._lock {
  overflow: hidden !important;
  height: 100% !important;
}

html,
body {
  height: 100%;
  margin: 0;
}

ul, li {
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

input {
  outline: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  /*  flex-grow - увеличиваться в размере: 0 зап-т, 1 раз-т
  * flex-shrink - уменьшаться в размере: 0 зап-т, 1 раз-т
  * flex-basis - определяет размер элемента по умолчанию
  * */
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 65px;
  border-left: 3px solid #4E5871;
  border-bottom: 3px solid #4E5871;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.image-overlay {
  position: relative;
}
.image-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
}

.logo--header {
  height: 50px;
}

.heading {
  text-transform: uppercase;
  color: #B4BAC7;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.btn {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 110px;
  height: 110px;
  border: 1px solid #4E5871;
  border-radius: 50%;
  background-color: #F6F5F0;
  background: url(../images/icons/sprite.svg#top) center/100% no-repeat;
  cursor: pointer;
}

a.donate {
  background-color: #4E5871;
  padding: 58px 0;
  width: 100%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #F6F5F0;
}
a.donate__see {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #B4BAC7;
  color: #F6F5F0;
  font-family: "Micra", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
}
a.donate__see::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(122px, -14px);
  -ms-transform: translate(122px, -14px);
  transform: translate(122px, -14px);
  width: 28px;
  height: 28px;
  background: url(../images/icons/sprite.svg#arrow-btn) center/cover no-repeat;
}

.unvisible {
  position: absolute;
  left: -3000px;
  overflow: hidden;
  width: 0;
  height: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-right: 3px solid transparent;
  padding-bottom: 100px;
}
.header-other {
  padding-bottom: 0;
  border-bottom: none;
}
.header-other .menu__body {
  display: none;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 0;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.header__link {
  display: inline-block;
  margin-right: 20px;
  font-family: "Micra", sans-serif;
  font-weight: 400;
  font-size: 70px;
  line-height: 1.0285714286;
  text-transform: uppercase;
}
.header__since {
  margin-bottom: 13px;
}
.header__since-sm {
  font-family: "Micra", sans-serif;
  font-size: 20px;
  line-height: 21px;
  color: #B4BAC7;
}
.header__since-bg {
  font-family: "Micra", sans-serif;
  font-size: 30px;
  line-height: 31px;
  color: #B4BAC7;
}
.header__slider {
  max-height: 450px;
  background-color: #F6F5F0;
  max-width: 1234px;
}
.header__slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 450px;
}
.header__slide-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 450px;
}
.header__slide-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.header__slide-title {
  font-family: "Micra", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.0277777778;
  color: #F6F5F0;
  z-index: 2;
  padding: 0 50px;
  text-align: center;
}
.header__slide-album {
  position: absolute;
  bottom: -171px;
  left: 72px;
  width: 320px;
  height: 320px;
  z-index: 4;
  color: #F6F5F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Micra", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.0277777778;
}
.header__slide-album::before {
  content: "";
  position: absolute;
  inset: -3px;
  padding: 3px;
  border-radius: 50%;
  background: -o-linear-gradient(315.96deg, #B4BAC7 15.41%, #4E5871 85.03%);
  background: linear-gradient(134.04deg, #B4BAC7 15.41%, #4E5871 85.03%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F6F5F0)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #F6F5F0));
  -webkit-mask: linear-gradient(#F6F5F0 0 0) content-box, linear-gradient(#F6F5F0 0 0);
  mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F6F5F0)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #F6F5F0));
  mask: linear-gradient(#F6F5F0 0 0) content-box, linear-gradient(#F6F5F0 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.header__slide-year {
  display: block;
  font-family: "Micra", sans-serif;
  font-weight: 400;
  font-size: 70px;
  line-height: 1.0285714286;
  color: #4E5871;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 20%;
  flex: 1 0 20%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: 25px;
}
.socials-footer {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: 0;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100%;
}
.social__list-footer {
  height: auto;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.social__item {
  width: 25px;
  height: 25px;
}
.social__item:not(:first-child) {
  margin-left: 30px;
}
.social__icon {
  width: 25px;
  height: 25px;
  fill: none;
  stroke: #4E5871;
  stroke-width: 2;
  -webkit-transition: stroke 0.3s linear;
  -o-transition: stroke 0.3s linear;
  transition: stroke 0.3s linear;
}
.social__icon-music {
  stroke: none;
  stroke-width: 0;
  fill: #4E5871;
  -webkit-transition: fill 0.3s linear;
  -o-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

.menu {
  margin-left: 50px;
}
@media (max-width: 768px) {
  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 150px 30px 50px 70px;
    background-color: rgba(78, 88, 113, 0.97);
    overflow: auto;
    -webkit-transition: right 0.5s ease 0s;
    -o-transition: right 0.5s ease 0s;
    transition: right 0.5s ease 0s;
    z-index: 20;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 116px;
    background-color: rgba(78, 88, 113, 0.97);
    -webkit-transition: right 0.5s ease 0s;
    -o-transition: right 0.5s ease 0s;
    transition: right 0.5s ease 0s;
    z-index: 2;
  }
}
.menu__body._active {
  right: 0;
}
.menu__body._active::before {
  right: 0;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  height: 277px;
}
@media (max-width: 768px) {
  .menu__list {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    margin-bottom: 50px;
  }
}
.menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-weight: 400;
  font-size: 46px;
  line-height: 1.2173913043;
  color: #4E5871;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  padding: 30px 39px 0;
  border-right: 2px solid #4E5871;
  height: 100%;
}
.menu__item:last-child {
  border-left: 2px solid #4E5871;
}
@media (max-width: 768px) {
  .menu__item {
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 32px;
    -webkit-writing-mode: unset;
    -ms-writing-mode: unset;
    writing-mode: unset;
    border-right: none;
    padding: 3px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: auto;
    color: #F6F5F0;
  }
  .menu__item:last-child {
    border-left: none;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.menu__icon {
  display: none;
}
@media (max-width: 768px) {
  .menu__icon {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20px;
    flex: 0 0 20px;
    width: 32px;
    height: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    z-index: 25;
  }
}
.menu__icon span {
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #4E5871;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__icon span:first-child {
  top: 0;
}
.menu__icon span:last-child {
  top: auto;
  bottom: 0;
}
.menu__icon._active {
  top: 25px;
  right: 15px;
}
.menu__icon._active span {
  background-color: #F6F5F0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.menu__icon._active span:first-child {
  top: calc(50% - 3px);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu__icon._active span:last-child {
  top: calc(50% - 3px);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.about__show {
  display: none;
}
.about__head {
  padding-top: 35px;
}
.about__info {
  padding-top: 35px;
  border-left: 3px solid #4E5871;
  padding-left: 45px;
  max-width: 50%;
  padding-bottom: 50px;
}
.about__info p:not(:last-child) {
  margin-bottom: 20px;
}

.about.active .about__show {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.albums__container {
  padding-left: 0;
  padding-right: 0;
}
.albums__container .accordeon__title {
  padding-right: 65px;
}
.albums__show {
  display: none;
  padding-left: 65px;
}
.albums__show:not(:last-child) {
  border-bottom: 3px solid #4E5871;
}
.albums__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.albums__info {
  padding-top: 23px;
  padding-right: 31px;
}
.albums__head {
  margin-bottom: 42px;
}
.albums__heading.accordeon__head {
  padding-left: 65px;
}
.albums__img {
  width: 380px;
  height: 260px;
  margin-left: -19px;
  margin-bottom: 10px;
}
.albums__name {
  margin-left: -19px;
  font-family: "Micra", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.05;
  color: #4E5871;
  text-transform: uppercase;
  max-width: 354px;
}
.albums__name span {
  color: #B4BAC7;
  display: inline-block;
}
.albums__songs {
  border-left: 3px solid #4E5871;
  width: 100%;
}

.albums.active .albums__show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fonograms__container {
  padding-left: 0;
  padding-right: 0;
}
.fonograms__container .accordeon__title {
  padding-right: 65px;
}
.fonograms__show {
  display: none;
  padding-left: 65px;
}
.fonograms__show:not(:last-child) {
  border-bottom: 3px solid #4E5871;
}
.fonograms__head {
  max-width: 252px;
  word-wrap: break-word;
  margin-bottom: 42px;
  line-height: 54px;
}
.fonograms__heading.accordeon__head {
  padding-left: 65px;
}

.fonograms.active .fonograms__show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__show {
  display: none;
}
.contacts__head {
  padding-top: 35px;
}
.contacts__head-other {
  color: #4E5871;
  padding-top: 100px;
}
.contacts__info {
  padding-top: 35px;
  border-left: 3px solid #4E5871;
  padding-left: 45px;
  width: 50%;
  padding-bottom: 50px;
}
.contacts__info p:not(:last-child) {
  margin-bottom: 20px;
}
.contacts__info-other {
  padding-top: 100px;
  border-left: none;
}
.contacts__list {
  margin-bottom: 33px;
}
.contacts__item:not(:last-child) {
  margin-bottom: 23px;
}
.contacts__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contacts.active .contacts__show {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.donate__container {
  border-bottom: none;
  background: #4E5871;
  position: relative;
}
.donate__btn {
  display: block;
  padding: 58px 0;
  text-transform: uppercase;
  font-family: "Micra", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1111111111;
  margin: 0 auto;
}

a.donate__btn {
  color: #F6F5F0;
  width: 100%;
  text-align: center;
}

.donate__btn-select {
  display: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.donate__btn-select._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  padding: 30px 15px;
  top: 0;
  left: 50%;
  width: 550px;
  height: auto;
  border: 2px solid #4E5871;
  border-radius: 10px;
  background-color: #F6F5F0;
  z-index: 2;
  -webkit-transform: translate(-50%, -80%);
  -ms-transform: translate(-50%, -80%);
  transform: translate(-50%, -80%);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.donate__btn-select._active::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 9px) rotate(-45deg);
  -ms-transform: translate(-50%, 9px) rotate(-45deg);
  transform: translate(-50%, 9px) rotate(-45deg);
  border-bottom: 2px solid #4E5871;
  border-left: 2px solid #4E5871;
  content: "";
  width: 14px;
  height: 14px;
  background-color: #F6F5F0;
}
.donate__btn-select a {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 0 15px;
}
.donate__btn-select a:not(:last-child) {
  border-right: 2px solid #4E5871;
}

.album__container {
  padding-bottom: 100px;
}
.album__show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}
.album__show-nm {
  margin-bottom: 0;
}
.album__info {
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.album__head {
  margin-bottom: 42px;
}
.album__heading.accordeon__head {
  padding-left: 65px;
}
.album__img {
  width: 610px;
  height: 450px;
  margin-bottom: 10px;
}
.album__name {
  font-family: "Micra", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.0277777778;
  text-align: center;
  color: #4E5871;
  max-width: 461px;
  margin-bottom: 20px;
}
.album__btn {
  color: #4E5871;
  background-color: #B4BAC7;
  display: inline-block;
  padding: 19px 68px 19px 45px;
  font-family: "Micra", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  text-align: center;
}
.album__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(111px, -9px);
  -ms-transform: translate(111px, -9px);
  transform: translate(111px, -9px);
  width: 16px;
  height: 16px;
  background: url(../images/icons/sprite.svg#arrow-btn-light) center/cover no-repeat;
}
.album__btn-buy {
  background-color: #4E5871;
  color: #F6F5F0 !important;
  width: 100%;
  text-align: center;
  padding: 31px 0;
}
.album__btn-buy::after {
  background: url(../images/icons/sprite.svg#arrow-btn-grey) center/cover no-repeat;
  -webkit-transform: translate(165px, -9px);
  -ms-transform: translate(165px, -9px);
  transform: translate(165px, -9px);
}
.album__btn-sale {
  background-color: #4E5871;
  color: #F6F5F0 !important;
}
.album__btn-sale::after {
  background: url(../images/icons/sprite.svg#arrow-btn-grey) center/cover no-repeat;
  -webkit-transform: translate(124px, -8px);
  -ms-transform: translate(124px, -8px);
  transform: translate(124px, -8px);
}
.album__btn-get {
  background-color: #4E5871;
  color: #F6F5F0 !important;
}
.album__btn-get::after {
  background: url(../images/icons/sprite.svg#arrow-btn-grey) center/cover no-repeat;
  -webkit-transform: translate(153px, -8px);
  -ms-transform: translate(153px, -8px);
  transform: translate(153px, -8px);
}
.album__btn-fono::after {
  -webkit-transform: translate(58px, -9px);
  -ms-transform: translate(58px, -9px);
  transform: translate(58px, -9px);
}
.album__songs {
  width: 100%;
}
.album__sale {
  margin: 0 auto;
}
.album__price {
  text-align: center;
  margin-bottom: 30px;
}
.album__preprice {
  text-align: center;
  font-family: "Micra", sans-serif;
  font-weight: 700;
}
.album__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.album__track:not(:last-child) {
  margin-bottom: 40px;
}
.album__title {
  max-width: 245px;
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.album__buy {
  background: #B4BAC7;
  color: #4E5871;
  padding: 18px 17px;
}
.album__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.album__email {
  width: 490px;
  padding: 7px 20px 7px 5px;
  background: #F6F5F0;
  border-bottom: 2px solid #4E5871;
  color: #4E5871;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
  margin-bottom: 50px;
}
.album__email::-webkit-input-placeholder {
  color: #B4BAC7;
}
.album__email::-moz-placeholder {
  color: #B4BAC7;
}
.album__email:-ms-input-placeholder {
  color: #B4BAC7;
}
.album__email::-ms-input-placeholder {
  color: #B4BAC7;
}
.album__email::placeholder {
  color: #B4BAC7;
}

.recomend__container {
  padding: 100px 65px;
}
.recomend__head {
  margin-bottom: 20px;
  color: #4E5871;
}
.recomend__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.recomend__album {
  position: relative;
  width: 610px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 75px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}
.recomend__album:not(:last-child) {
  margin-right: 20px;
}
.recomend__img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.recomend__title {
  color: #F6F5F0;
  text-align: center;
  font-family: "Micra", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.0277777778;
}

.accordeon__item {
  overflow: hidden;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.accordeon__name {
  position: relative;
  cursor: pointer;
}
.accordeon__name::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background: url(../images/icons/sprite.svg#plus) no-repeat center center;
  height: 16px;
  width: 16px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.accordeon__content {
  margin: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.accordeon__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}
.accordeon__head {
  padding: 35px 0;
  color: #4E5871;
}
.accordeon__close {
  position: absolute;
  bottom: 19px;
  right: 0;
  text-align: right;
  margin-top: 133px;
}
.accordeon__open .btn {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.active .accordeon__content {
  opacity: 1;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.active .accordeon__title {
  display: none;
}

.player__track {
  padding: 20px;
  border-bottom: 3px solid #4E5871;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.player__play {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #4E5871;
  padding: 19px 18px 19px 20px;
  margin-right: 35px;
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.player__play-src {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.player__title {
  max-width: 437px;
  margin-right: auto;
}
.player__sound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 235px;
  height: 40px;
  margin-left: 7px;
}
.player__sound-mute {
  width: 40px;
  height: 40px;
  cursor: pointer;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.player__sound-volume {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #4E5871;
  height: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 7px;
  width: 55%;
}
.player__sound-volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #F6F5F0;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid #4E5871;
}
.player__sound-laught {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

@media (min-width: 992px) {
  .menu__item:hover {
    color: #B4BAC7;
    padding-top: 45px;
  }
  .social__icon:hover {
    stroke: #B4BAC7;
  }
  .social__icon-music:hover {
    fill: #B4BAC7;
  }
}
@media (max-width: 1300px) {
  .container {
    padding: 0 40px;
  }
  .header__container {
    padding-bottom: 70px;
  }
  .albums__container,
.fonograms__container {
    padding-left: 0;
    padding-right: 0;
  }
  .albums__container .accordeon__title,
.fonograms__container .accordeon__title {
    padding-right: 40px;
  }
  .albums__heading.accordeon__head,
.fonograms__heading.accordeon__head {
    padding-left: 40px;
  }
  .albums__show,
.fonograms__show {
    padding-left: 40px;
  }
  .albums__img,
.albums__name {
    margin-left: 0;
  }
  .album__info,
.album__songs {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
  }
  .album__img {
    max-width: 610px;
    width: auto;
    height: auto;
  }
  .recomend__container {
    padding: 100px 40px;
  }
  .header-other,
.album__container,
.recomend__container,
.contacts-other {
    margin-left: 20px;
  }
  .album__container-get {
    padding-bottom: 100px;
  }
  .contacts__container .accordeon__head {
    padding-left: 0px;
  }
  .contacts__head {
    padding-left: 0;
  }
}
@media (max-width: 1250px) {
  .album__track {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .album__buy {
    display: block;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
    margin-left: 15px;
  }
  .album__title {
    overflow: auto;
    -o-text-overflow: unset;
    text-overflow: unset;
    max-width: none;
  }
}
@media (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
  .header__container {
    padding-bottom: 70px;
  }
  .header__link {
    font-size: 60px;
  }
  .albums__container,
.fonograms__container {
    padding-left: 0;
    padding-right: 0;
  }
  .albums__container .accordeon__title,
.fonograms__container .accordeon__title {
    padding-right: 20px;
  }
  .albums__heading.accordeon__head,
.fonograms__heading.accordeon__head {
    padding-left: 20px;
  }
  .albums__show,
.fonograms__show {
    padding-left: 20px;
  }
  .recomend__container {
    padding: 100px 40px;
  }
  .album__container-get {
    padding-bottom: 100px;
  }
  .contacts__container .accordeon__head,
.contacts__head {
    padding-left: 0;
  }
  .contacts__head-other {
    padding-left: 20px;
  }
}
@media (max-width: 1150px) {
  .header__slide-album {
    left: 30px;
  }
}
@media (max-width: 1100px) {
  .header__link {
    font-size: 50px;
  }
  .header__since {
    margin-bottom: 3px;
  }
  .header__slide-album {
    left: 20px;
    width: 250px;
    height: 250px;
    font-size: 28px;
    bottom: -135px;
  }
  .header__slide-year {
    font-size: 50px;
  }
  .player__sound {
    width: 190px;
  }
  .recomend__album {
    padding: 0 40px;
  }
}
@media (max-width: 1000px) {
  .header__slide-album {
    left: 10px;
  }
}
@media (max-width: 992px) {
  .header__link {
    font-size: 38px;
  }
  .header__since-bg {
    font-size: 20px;
  }
  .header__slide-album {
    z-index: 1;
    bottom: 10px;
    color: #B4BAC7;
  }
  .header__slide-title {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-left: 30%;
    margin-bottom: 5%;
  }
  .header__slide-year {
    color: #F6F5F0;
  }
  .menu {
    margin-left: 0;
  }
  .albums.active .albums__show,
.fonograms.active .fonograms__show {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .albums__head {
    margin-bottom: 30px;
  }
  .fonograms__head {
    max-width: none;
    margin-bottom: 30px;
  }
  .albums__info {
    position: relative;
    padding-right: 0;
  }
  .albums__img {
    width: 100%;
    min-height: 260px;
    height: 320px;
    margin-bottom: 0;
  }
  .albums__name {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #F6F5F0;
  }
  .albums__name span {
    color: #B4BAC7;
  }
  .header-other {
    padding-bottom: 30px;
  }
  .header-other .header__link {
    margin-right: 10px;
  }
  .album__container {
    padding-left: 0;
  }
  .album__songs {
    padding-left: 20px;
  }
  .album__show {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .album__info {
    position: relative;
    padding-right: 0;
    margin-bottom: 40px;
  }
  .album__info .album__btn {
    display: none;
    overflow: hidden;
    width: 0;
  }
  .album__img {
    max-width: none;
    width: 100%;
    height: 450px;
    margin-bottom: 0;
  }
  .album__name {
    position: absolute;
    bottom: 0;
    color: #F6F5F0;
    text-align: left;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
    margin-left: 20px;
  }
  .recomend__container {
    padding: 50px 20px;
  }
  .recomend__title {
    font-size: 26px;
  }
  .contacts__wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contacts__head-other {
    padding-top: 40px;
    padding-left: 0;
  }
  .contacts__info-other {
    padding: 50px 0;
  }
  .album__btn-sale {
    background-color: #B4BAC7;
  }
  .album__btn-sale::after {
    background: url(../images/icons/sprite.svg#arrow-btn) center/cover no-repeat;
  }
}
@media (max-width: 940px) {
  .header__logo {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .socials {
    margin-left: 18px;
  }
  .social__item {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .social__item:not(:first-child) {
    margin-left: 20px;
  }
  .socials-footer {
    margin-left: 0;
  }
}
@media (max-width: 790px) {
  .header__link {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 18px;
    line-height: 1.2;
  }
  .heading {
    font-size: 36px;
    line-height: 1.2;
  }
  .btn {
    width: 80px;
    height: 80px;
  }
  .donate__btn {
    padding: 24px 0;
    font-size: 32px;
  }
  .donate__btn-select._active {
    -webkit-transform: translate(-50%, -94%);
    -ms-transform: translate(-50%, -94%);
    transform: translate(-50%, -94%);
  }
  .about__container,
.contacts__container {
    padding-left: 0;
    border-left: 0;
  }
  .about__container .accordeon__head,
.contacts__container .accordeon__head {
    border-left: 3px solid #4E5871;
    padding-left: 20px;
  }
  .header__link {
    font-size: 24px;
  }
  .header__socials {
    display: block !important;
    z-index: 21;
  }
  .header__socials .social__list {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header__socials .social__item {
    width: 35px;
    height: 35px;
    margin-bottom: 35px;
  }
  .header__socials .social__item:not(:first-child) {
    margin-left: 40px;
  }
  .header__socials .social__icon {
    width: 35px;
    height: 35px;
    display: block;
    stroke: #F6F5F0;
  }
  .header__socials .social__icon-music {
    stroke: none;
    fill: #F6F5F0;
  }
  .header__since {
    display: none;
    overflow: hidden;
    width: 1px;
  }
  .header__slider {
    max-height: none;
  }
  .header__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
  }
  .header__slide-album {
    z-index: 1;
    bottom: 0px;
    position: relative;
    color: #B4BAC7;
  }
  .header__slide-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 450px;
    margin-bottom: 16px;
    margin-left: 0;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .header__slide-year {
    color: #4E5871;
  }
  .header-other {
    padding-bottom: 0;
  }
  .header-other .menu__body._active {
    display: block;
  }
  .socials-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about.active .about__show,
.contacts.active .contacts__show {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about__head,
.contacts__head {
    border-left: 3px solid #4E5871;
    padding-left: 20px;
  }
  .about__info {
    max-width: none;
    padding-left: 20px;
  }
  .album__btn-buy::after {
    display: none;
  }
  .contacts__info {
    width: auto;
    padding-left: 20px;
  }
  .contacts__info-other {
    padding-left: 0;
  }
  .contacts__head-other {
    padding-left: 0;
    border: none;
  }
  .contacts__wrp {
    padding-left: 20px;
    border-left: 3px solid #4E5871;
  }
  .recomend__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .recomend__album {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
  }
  .recomend__album:not(:last-child) {
    margin-bottom: 40px;
  }
  .donate__see::before {
    display: none;
  }
}
@media (max-width: 576px) {
  .header__slide-img {
    height: 375px;
  }
  .header__slide-title {
    height: 375px;
    font-size: 28px;
  }
  .header__slide-album {
    height: 175px;
    width: 175px;
    font-size: 22px;
  }
  .header__slide-year {
    font-size: 32px;
  }
  .player__track {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .player__sound {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 24%;
    margin-top: 12px;
  }
  a.donate__see {
    font-size: 32px;
  }
  a.donate__see::before {
    -webkit-transform: translate(107px, -12px);
    -ms-transform: translate(107px, -12px);
    transform: translate(107px, -12px);
    width: 26px;
    height: 26px;
  }
  .donate__btn {
    font-size: 26px;
  }
  .donate__btn-select._active {
    padding: 20px 10px;
    width: 90%;
  }
  .album__name {
    font-size: 28px;
  }
  .album__img {
    height: 350px;
  }
  .album__track {
    border-bottom: 2px solid #4E5871;
    padding-bottom: 15px;
    margin-left: -20px;
  }
  .album__track:not(:last-child) {
    margin-bottom: 15px;
  }
  .album__title {
    width: 65%;
    white-space: unset;
  }
  .album__buy {
    margin-right: auto;
    margin-top: 24px;
  }
  .album__show {
    margin-bottom: 0;
  }
  .album__sale {
    margin-bottom: 80px;
  }
  .player__play {
    margin-left: 15px;
  }
  .album__container-get {
    padding-bottom: 0px;
  }
}
@media (max-width: 480px) {
  .heading {
    font-size: 30px;
    padding-left: 15px;
  }
  .btn {
    width: 50px;
    height: 50px;
  }
  .accordeon__content {
    padding-left: 15px;
  }
  .about__container,
.contacts__container {
    padding-left: 0;
  }
  .contacts__head-other {
    padding-left: 0;
  }
  .header__slide-img {
    height: 315px;
  }
  .header__slide-title {
    height: 315px;
    font-size: 24px;
  }
  .album__head,
.albums__head,
.fonograms__head {
    padding-left: 0;
  }
  .albums__img {
    height: 260px;
  }
  .player__play {
    margin-right: 15px;
    width: 45px;
    height: 45px;
    padding: 12px 11px 12px 12px;
  }
  .player__title {
    max-width: 74%;
  }
  .player__sound {
    padding: 0 4%;
  }
  a.donate__see {
    font-size: 26px;
  }
  a.donate__see::before {
    -webkit-transform: translate(90px, -11px);
    -ms-transform: translate(90px, -11px);
    transform: translate(90px, -11px);
    width: 22px;
    height: 22px;
  }
  .donate__btn {
    font-size: 20px;
  }
  .album__img {
    height: 250px;
  }
  .album__name {
    font-size: 22px;
  }
  .recomend__head {
    padding-left: 0;
  }
  .recomend__album {
    height: 260px;
  }
  .recomend__title {
    font-size: 22px;
  }
  .album__btn-buy {
    font-size: 18px;
    padding: 31px 40px;
  }
  .album__btn-buy::after,
.album__btn-get::after {
    background-image: none;
  }
}
/*# sourceMappingURL=style.css.map */
