.donate
  &__container
    border-bottom: none
    background: $dark
    display: flex
  &__btn
    display: block
    padding: 58px 0
    text-transform: uppercase
    font-family: 'Micra', sans-serif
    @include font(700, 36, 40)
    margin: 0 auto

a.donate__btn
  color: $bgc
